body {
    margin:0;
    font-family: Arial;
    display:flex;
}

.sidebar {
    width:220px;
    background:#1e1e2f;
    color:white;
    height:100vh;
    padding:20px;
}

.sidebar a {
    display:block;
    color:white;
    padding:10px;
    text-decoration:none;
}

.sidebar a:hover {
    background:#4a90e2;
}

.main {
    flex:1;
    padding:40px;
    background:#f4f6f9;
}

.cards {
    display:flex;
    gap:20px;
}

.card {
    background:white;
    padding:20px;
    border-radius:12px;
    width:200px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
