<!DOCTYPE html>
<html>
<head>
    <title>AI Study Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div>AI Study Pal</div>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/planner">Planner</a>
        <a href="/quiz">Quiz</a>
        <a href="/chatbot">Chat</a>
        <a href="/summary">Summary</a>
        <a href="/youtube">YouTube</a>
        <a href="/performance">Performance</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
