<!DOCTYPE html>
<html>
<head>
    <title>Login - AI Study Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>
        </form>
        <br>
        <a href="/register">Create Account</a>
    </div>
</div>

</body>
</html>
