{% extends "base.html" %}

{% block content %}

<h2>Generate AI Quiz</h2>

<form method="POST">

<input
type="text"
name="topic"
placeholder="Enter topic (example: Neural Networks)"
class="quiz-input"
required
>

<button type="submit">Generate Quiz</button>

</form>

<style>

.quiz-input{
width:100%;
padding:14px;
margin-top:15px;
margin-bottom:15px;
border-radius:6px;
border:none;
font-size:16px;
}

button{
padding:12px 20px;
background:#2563eb;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

</style>

{% endblock %}
